<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <!-- Identity & Razor -->
            <ModulePath>.*\\Synesthesia\.Web\\.*Areas\\Identity\\.*</ModulePath>
            <ClassName>AspNetCoreGeneratedDocument.*</ClassName>
            <ClassName>.*Pages\.Pages_.*</ClassName>
            <ClassName>.*Pages\.Shared\..*</ClassName>

            <!-- Razor files -->
            <Source>.*\.cshtml</Source>

            <!-- Migrations -->
            <ClassName>.*Migrations\..*</ClassName>

            <!-- Program / Startup -->
            <ClassName>.*\.Program</ClassName>
            <ClassName>.*\.Startup</ClassName>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
